h1{
    color: aqua;
    text-shadow: 3px 3px 2px #666666;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
}
input{
    color: rgb(255, 196, 196);
}
input.submit:hover{
background-color: blueviolet;
}